@import '../../../static/css/variable.less';
.articalItem{
  padding:15px 0;
}
.img{
  width:120px;
  height:120px;
  margin-right:10px;
  overflow: hidden;
  &:hover{
      img{
           transform:scale3d(1.2,1.2,1);
      }
  }
  img{
    width:100%;
    hieght:auto;
    transition:transform 0.3s;
  }
}
.articalInfo{
    display: flex;
    flex-direction:column;
}
.title{
  font-size:@f16;
}
.abstract{
    max-height:60px;
    .lineLimit(3);
    margin-top:10px;
    font-size:@f12;
    line-height:1.6;
}
.additional{
    font-size:@f12;
    align-self:flex-end;
    &>li{
        display: inline-block;
        vertical-align: middle;
        span{
            display: inherit;
            vertical-align: middle;
        }
        margin-left:10px;
    }
}
.reads,.messages{
      &:before{
         content:'';
         display: inline-block;
         vertical-align: middle;
         height:20px;
         width:20px;
         margin-right:6px;
         background-size:100% 100%;
     }
}
.reads{
    &:before{
         background-image:url(../../../static/img/reads.svg)
    }
}
.messages{
    &:before{
         background-image:url(../../../static/img/messages.svg)
    }
}

@media screen and(min-width:480px){

}
@media screen and(min-width:768px){

}
@media  screen and(min-width:992px) {

}
