@import 'variable.less';
@scale:1;
@menuWidth: 400px;
@menuHeight: 50px;
@headerLP:25px;
@headerRP:25px;
@logoWidth:100px;
@logoHeight:50px;
@menuItemColor: #ddd;
@menuItemActiveColor: #fff;
@menuItemCounts:4;

.menuItemloop(@counter) when (@counter > 0) {
    .menuItemloop((@counter - 1));
    &:nth-of-type(@{counter}){
        transition-delay:(@counter*200ms)
    }
    
}
.header {
    padding-left:@headerLP;
    padding-right:@headerRP;
    justify-content: space-between;
    background: #000;
    height: @menuHeight;
    .logo {
        width:@logoWidth;
        height:@logoHeight;
        background-image: url('../../static/img/logo.png');
        background-position: left center;
        background-size: auto 100%;
    }
    .menu{
        //display: none;
        display: block;
        position:fixed;
        top:@menuHeight;
        bottom:0;
        left:0;
        right:0;
        background: rgba(0,0,0,0.7);
        z-index:999;
        opacity:0;

        transition:opacity 0.3s;
        li {
            text-align: center;
            font-size: @f14;
            line-height: 30px;
            background: #000;
            transform:translateX(100%);
            transition:transform 0.3s;
            .menuItemloop(@menuItemCounts);
            a {
                display: inline-block;
                width: 100%;
                color: #fff;
                white-space: nowrap;
            }
       }     
       
    }  
    .menu.active{
       opacity:1;
       li{
          transform:translateX(0%)
       }
    }  
    .menuBtn{
         height:5*3+3*2px;
         i{
            
            &,&:before,&:after{
                display: block;
                width:25px;
                height:3px;
                background:#fff;
            }
            &:before{
                content:'';
                transform:translateY(8px)
            }
            &:after{
                content:'';
                 transform:translateY(13px)
            }

         }
    }
}

@media  screen and(min-width:992px) {
    .header {

    }
}
@media  screen and(min-width:768px) {
    .header {
        padding-left:@headerLP*2;
        padding-right:@headerRP*2;
        height: @menuHeight*2;
        .menuBtn{
             display: none;
        }
       .logo {
            width: @logoWidth*2;
            height: @logoHeight*2;
        }
        .menu { 
            display: flex;
            width: @menuWidth;
            height: 100%;
            position:inherit;    
            opacity:1;  
            li {
                flex: 1;
                font-size: @f18;
                transform:translateX(0%);
                a {
                    line-height: @menuHeight*2;
                }
            }
            li:hover {
                a {
                    color: @menuItemActiveColor; // letter-spacing: 5px;
                    animation: fontBounce 0.5s ease-out;
                    animation-fill-mode: both;
                }
            }
            li.active {
                background: #ff39a0;
                a {
                    color: @menuItemActiveColor;
                }
            }
        }
        // .logo:hover{
        //       transform-origin:left center;
        //       animation:logoDropDown 2s 1 cubic-bezier(0.25,1.6,0.5,0.25);
        // }
    }
}
// @-webkit-keyframes logoDropDown {
//     0%{
//         transform:none
//     }
//     10%,20%{
//         transform:rotate(5deg);
//     }
//     80%{
//         transform:rotate(75deg)
//     }
//     85%{
//         transform:rotate(80deg)
//     }
//     90%{
//         transform:rotate(75deg)
//     }
//     100%{
//         transform:none
//     }
// }

@-webkit-keyframes fontBounce {
    0% {
        letter-spacing: 5px;
    }
    20% {
        letter-spacing: -5px;
    }
    50% {
        letter-spacing: 3px;
    }
    70% {
        letter-spacing: -3px;
    }
    100% {
        letter-spacing: 0;
    }
}